<div class="content-container">
    <mat-sidenav-container class="sidenav-width">
        <mat-sidenav #sidenav mode="side" opened class="sidenav-width" [fixedInViewport]="'fixed'" [fixedBottomGap]="0">
            <div>
                <button routerLink="/">
                    <mat-icon class="sidebar-icon">home</mat-icon>
                    Home
                </button>
                <button routerLink="/users">
                    <mat-icon class="sidebar-icon">account_circle</mat-icon>
                    Users
                </button>
            </div>
        </mat-sidenav>
    </mat-sidenav-container>
    <div>
        <router-outlet></router-outlet>
    </div>
</div>