.card-properties {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card-width {
    width: 200px !important;
}

.padding-not-top-50 {
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.padding-top-50 {
    padding-top: 50px;
}